*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


.articuloDestacados{ 
    border-style: dotted; }

.articulos{
    width: 100%;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    align-items: left;
    justify-content: space-around;
    justify-content: center;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background: #ed5656;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
}

img{
    width:30%;
}

.articulo{
    text-align:center;
    border-style: dotted;
    flex-grow: 1;
    width: 10%;
    height:10%;

    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
}


  h1 {
    font-weight: 900;
    text-align: center;
  }
  
  h3 {
    font-weight: 300;
  }
  
