#valores{
    display:flex;
    flex-direction:row;
    background-color:white;
    padding-top:1em;
    padding-bottom:1em;
}

.valor{
    display:flex;
    flex-direction:column;
    justify-items:center;
    padding: 2em;
    text-align:center;
}

.valor p{
    font-size:12px;
}
.valor img{
    width:100px;
    height:100px;
    padding:1em;
    margin:auto;
}
